<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <title>ITA</title>
    <link type="text/css" rel="stylesheet" th:href="@{/vendor/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <br>
    <h3 class="text-primary">SIGN-IN</h3>
    <div class="alert alert-danger" role="alert" th:text="${error_msg}" th:if="${error_msg}"></div>
    <form th:action="@{/sign-in}" method="post">
        <input th:type="hidden" th:name="callbackUrl" th:value="${callbackUrl}">

        <div class="form-group">
            <label for="input-text-id">User id</label>
            <input type="text" class="form-control" id="input-text-id" name="userId" required>
        </div>
        <div class="form-group">
            <label for="input-password-pw">Password</label>
            <input type="password" class="form-control" id="input-password-pw" name="userPw" aria-describedby="pwHelp" required>
            <small id="pwHelp" class="form-text text-muted">We'll never share your Password with anyone else.</small>
        </div>
        <div class="clearfix">
            <button type="submit" class="btn btn-primary float-left">SIGN-IN</button>
            <a class="btn btn-info float-right" th:href="@{/sign-up}" role="button">SIGN-UP</a>
        </div>
    </form>
</div>
<script type="application/javascript">
    document.getElementById('input-text-id').focus();
</script>
</body>
</html>