<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <title>ITA</title>
    <link type="text/css" rel="stylesheet" th:href="@{/vendor/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/vendor/css/bootstrap-vue.min.css}"/>

    <script src="//polyfill.io/v3/polyfill.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>

    <script th:src="@{/vendor/js/vue.min.js}"></script>
    <script th:src="@{/vendor/js/bootstrap-vue.min.js}"></script>

    <script th:src="@{/vendor/js/bootstrap-vue-icons.min.js}"></script>
    <script th:src="@{/vendor/js/axios.min.js}"></script>
</head>
<body>
<!-- Our application root element -->
<div id="ita">
    <b-container>
        <div>
            <b-navbar toggleable="lg" type="dark" variant="secondary" fixed="top" sticky="true">
                <b-navbar-brand href="/main">
                    <b-icon icon="stoplights"></b-icon>
                    ITA
                </b-navbar-brand>

                <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

                <b-collapse id="nav-collapse" is-nav>
                    <!--<b-navbar-nav>
                        <b-nav-item href="#">메뉴</b-nav-item>
                    </b-navbar-nav>-->

                    <b-navbar-nav class="ml-auto">
                        <b-nav-form>
                            <b-form-input size="sm" class="mr-sm-2" placeholder="Search" v-model="searchForm.clientId"></b-form-input>
                            <b-button size="sm" class="my-2 my-sm-0" type="submit">
                                <b-icon icon="search"></b-icon>
                                Search
                            </b-button>
                        </b-nav-form>

                        <b-nav-item-dropdown right>
                            <template #button-content>
                                <b-button size="sm" class="my-2 my-sm-0">
                                    <b-icon icon="person-circle"></b-icon>
                                    <span th:text="${user.getUserName()+'['+user.getTeamName()+']'}"></span></b-button>
                            </template>
                            <b-dropdown-item href="/sign-out">
                                <b-icon icon="person"></b-icon>
                                Sign Out
                            </b-dropdown-item>
                        </b-nav-item-dropdown>
                    </b-navbar-nav>
                </b-collapse>
            </b-navbar>
        </div>
        <hr>
        <b-row>
            <b-col cols="12">
                <div>
                    <b-card no-body>
                        <b-tabs fill active-nav-item-class="font-weight-bold text-uppercase text-danger" content-class="mt-3">
                            <b-tab active @click="getApps">
                                <template #title>
                                    <b-icon icon="app"></b-icon>
                                    APP
                                </template>
                                <div th:align="right">
                                    <b-button v-b-modal.modal-manage-app pill variant="outline-secondary" size="sm" @click="createModalInit">APP 추가</b-button>
                                </div>

                                <b-table striped hover :items="app.list.items" :fields="app.list.fields"></b-table>
                            </b-tab>
                            <b-tab>
                                <template #title>
                                    <b-icon icon="box-arrow-up-left"></b-icon>
                                    API
                                </template>
                                <p class="p-3">
                                    <b-table striped hover :items="items" :fields="fields"></b-table>
                                </p>
                            </b-tab>
                            <b-tab>
                                <template #title>
                                    <b-icon icon="box-arrow-in-down-right"></b-icon>
                                    WEBHOOK
                                    <b-badge pill variant="info">10</b-badge>
                                </template>
                                <p class="p-3">
                                    <b-table striped hover :items="items" :fields="fields"></b-table>
                                </p>
                            </b-tab>
                        </b-tabs>
                    </b-card>
                </div>
            </b-col>
        </b-row>
        <!--footer S-->
        <b-navbar toggleable="lg" type="dark" variant="secondary" fiexd="bottom" sticky="true">
            <b-navbar-brand href="/main">
                <b-icon icon="stoplights"></b-icon>
                ITA
            </b-navbar-brand>
            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav class="ml-auto" right>
                    <b-nav-form>
                        <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
                        <b-button size="sm" class="my-2 my-sm-0" type="submit">
                            <b-icon icon="search"></b-icon>
                            Search
                        </b-button>
                        <b-button type="button">
                            <b-icon icon="upload" variant="dark"></b-icon>
                        </b-button>
                    </b-nav-form>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>
        <!--footer E-->

        <!--modal : add app S-->
        <b-modal id="modal-manage-app" @ok="saveApp" size="lg" title="App 등록">
            <div>
                <b-card bg-variant="light">
                    <b-form-group
                            label-cols-lg="3"
                            label="App을 등록합니다."
                            label-size="sm"
                            label-class="font-weight-bold pt-0"
                            class="mb-0"
                    >
                        <b-form-group
                                label="* App Name : "
                                label-for="manage-app-name"
                                label-cols-sm="3"
                                label-align-sm="right"
                        >
                            <b-form-input id="manage-app-name"
                                          maxlength="30"
                                          v-model="app.manage.values.appName"
                                          :state="stateAppName"
                                          trim
                                          required
                            >
                            </b-form-input>
                        </b-form-group>

                        <b-form-group
                                label="* Client Id : "
                                label-for="manage-app-client-id"
                                label-cols-sm="3"
                                label-align-sm="right"
                        >
                            <b-form-input id="manage-app-client-id"
                                          maxlength="30"
                                          v-model="app.manage.values.clientId"
                                          :state="stateClientId"
                                          trim required></b-form-input>
                        </b-form-group>

                        <b-form-group
                                label="* Secret Key : "
                                label-for="manage-app-secret-key"
                                label-cols-sm="3"
                                label-align-sm="right"
                        >
                            <b-form-input id="manage-app-secret-key"
                                          maxlength="64"
                                          v-model="app.manage.values.secretKey"
                                          :state="stateSecretKey"
                                          trim
                                          required
                            >
                            </b-form-input>
                        </b-form-group>

                        <b-form-group
                                label="Partner Id : "
                                label-for="manage-app-partner-id"
                                label-cols-sm="3"
                                label-align-sm="right"
                        >
                            <b-form-input id="manage-app-partner-id"
                                          maxlength="30"
                                          v-model="app.manage.values.partnerId"
                                          trim
                            >
                            </b-form-input>
                        </b-form-group>

                        <b-form-group
                                label="* 인증 유형 : "
                                label-cols-sm="3"
                                label-align-sm="right"
                                class="mb-0"
                                v-slot="{ ariaDescribedby }"
                        >
                            <b-form-radio-group
                                    class="pt-2"
                                    v-model="app.manage.values.grantType"
                                    :options="app.manage.options.grantType"
                                    :aria-describedby="ariaDescribedby"
                            >
                            </b-form-radio-group>
                        </b-form-group>
                        <b-form-group
                                label="* 토큰 관리 : "
                                label-cols-sm="3"
                                label-align-sm="right"
                                class="mb-0"
                                v-slot="{ ariaDescribedby }"
                        >
                            <b-form-radio-group
                                    class="pt-2"
                                    v-model="app.manage.values.manageToken"
                                    :options="app.manage.options.manageToken"
                                    :aria-describedby="ariaDescribedby"
                            >
                            </b-form-radio-group>
                        </b-form-group>
                        <b-form-group
                                label="* 운영 환경 : "
                                label-cols-sm="3"
                                label-align-sm="right"
                                class="mb-0"
                                v-slot="{ ariaDescribedby }"
                        >
                            <b-form-radio-group
                                    class="pt-2"
                                    v-model="app.manage.values.operationLevel"
                                    :options="app.manage.options.operationLevel"
                                    :aria-describedby="ariaDescribedby"
                            ></b-form-radio-group>
                        </b-form-group>
                    </b-form-group>
                    <div>
                        <b-form-group
                                label="* API 사용권한 : "
                                v-slot="{ ariaDescribedby }"
                        >
                            <b-row>
                                <b-form-input
                                        v-model="scopesStr"
                                        trim
                                        disabled
                                >
                                </b-form-input>
                            </b-row>
                            <b-row>
                                <b-col>
                                    <b-form-checkbox-group
                                            v-model="app.manage.values.scopes"
                                            :options="app.manage.options.scopes"
                                            :aria-describedby="ariaDescribedby"
                                            switches stacked
                                    ></b-form-checkbox-group>
                                </b-col>
                            </b-row>
                        </b-form-group>
                    </div>
                </b-card>
            </div>
        </b-modal>
        <!--modal : add app E-->
    </b-container>
</div>


<script th:src="@{/js/main.js}"/>
<script>
    import ita from './main.js';

    export default ita;
</script>
</body>
</html>